.amazonFreeShipping {
    border: 1px solid #ddd !important;
    height: 97%;
}

.cardContainer-wrapper {
    font-size: 14px;
}

.order_tracking_info {
    display: none;
}
.order_tracking_info .tracking-event-date-header {
    font-weight: 700;
}
.order_delay_message {
    padding-top: 0 !important;
}
.order_delay_message h3 {
    font-size: 14px;
    background: #b52323;
    color: #fff;
    padding: 10px !important;
    border: 1px solid #a5a5a5;
    font-weight: 400;
}
.order_delay_message span.emphasizedMessage {
    font-weight: 700;
}

.order_last_status {
    display: inline-block;
    margin-left: 5px;
}

.order_last_status div {
    display: inline-block;
}
.order_last_status .tracking-event-location:before {
    content: ", ";
    margin-right: 5px;
}
.tracking-event-time-right div.a-row {
    width: 90%;
}

.tracking_information_wrapper {
    display: inline-block;
    width: 92%;
}
.order_shipping_company {
    position: relative;
    top: 14px;
    display: inline-block;
    width: 56px;
}