html,body {
    padding: 0;
    margin: 0;
}

body {
    min-width: 350px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

header img {
    width: 32px;
    height: auto;
    vertical-align: sub;
}
header h1 {
    margin-left: 5px;
    display: inline-block;
    font-size: 1.2em;
    top: -5px;
    position: relative;
    font-weight: 700;
}

section.settings {
    margin-top: 15px;
}
section.settings .text {
    display: inline-block;
    width: 46%;
}
section.settings .options {
    display: inline-block;
    width: 50%;
}
section.settings .options select {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    padding: 5px;
}
section.settings .options div.color {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 5%;
    background-color:#ffffff;
    border: 1px solid darkgrey;
    position: relative;
    bottom: 3px;
}
section.settings .spacer {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
section.settings .spacer.line {
    border-bottom: 1px solid rgba(0,0,0,0.06);
    width: 90%;
    padding-bottom: 30px;
    margin: 0 auto 20px;
}



/* on off switch */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #15c39a; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 61px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}